$ff-serif: "Bellefair", serif;
$ff-sans-cond: "Barlow Condensed", sans-serif;
$ff-sans-normal: "Barlow", sans-serif;

$gutter: 25px;


$fs-900: 9rem;
$fs-800: 6.25rem;
$fs-700: 3.5rem;
$fs-600: 2rem;
$fs-500: 1.75rem;
$fs-400: 1.125rem;
$fs-300: 1rem;
$fs-200: .875rem;

$blue900: #0B0D17;
$blue100: #D0D6F9;
$white: #fff;

$break-tablet: 890px;
$break-mobile: 620px;